@font-face {
    font-family: 'B';
    src: url('../../font/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'R';
    src: url('../../font/Pretendard-Regular.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'S';
    src: url('../../font/Pretendard-SemiBold.woff') format('woff');
    font-weight: normal;
}

.action_back {
    width: 100%;
    margin-top: 81px;
    display: flex;
    justify-content: center;
    background-position: center top;
    background-image: url('../../img/action/action_background.svg');
}

.action03 {
    display: flex;
    justify-content: center;
    margin-top: 64px;

    .title_div {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        .title_emotion_div {
            display: flex;
            border-bottom: 1px solid #F2B4C1;
            width: 350px;
            height: 100%;
            background-color: #00000000;
            align-items: center;
            padding-bottom: 6px;
            margin-right: 8px;

            .title_emotion_num {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 28px;
                height: 28px;
                border-radius: 50px;
                background-color: #444444;
                color: #fff;
                font-size: 20px;
                font-family: 'S';
                margin-right: 20px;
            }
            .title_emotion{
                font-size: 20px;
                font-family: 'R';
            }
        }
    }
    .reason{
        margin-bottom: 100px;
    }

    .title {
        font-size: 28px;
        font-family: 'R';
        text-align: center;
    }

    .input-container {
        width: 1110px;
        min-height: 100px;
        color: #9F9F9F;
        border: 1px solid #F2B4C1;
        background-color: #00000000;
        border-radius: 20px;
        padding: 16px 20px;

        .input {
            width: 100%;
            height: 100%;
            min-height: 110px;
            font-size: 20px;
            color: #9F9F9F;
            font-family: 'R';
            resize: none;
            border: none;
            background-color: #00000000;
        }

        .input:focus {
            outline: none;
        }

        .char-count {
            text-align: right;
            font-size: 16px;
            color: #9F9F9F;
            font-family: 'R';
        }
    }

    .btn {
        display: flex;
        justify-content: center;
    }

    .next-btn {
        margin-top: 126px;
        background: #EEEEEE;
        color: #9F9F9F;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        width: 100px;
        cursor: pointer;

    }

    .next-btn.active {
        background: #F2B4C1;
        color: #fff;
        cursor: pointer;
    }

    .next-btn:disabled {
        cursor: not-allowed;
    }

    .back-btn {
        margin-top: 126px;
        background: #00000000;
        color: #F2B4C1;
        border: 1px solid #F2B4C1;
        padding: 10px 20px;
        border-radius: 20px;
        width: 100px;
        cursor: pointer;
        margin-right: 16px;
    }

    .plus {
        background-image: url('../../img/action/action_plus.svg');
        width: 28px;
        height: 28px;
        margin-right: 12px;
        margin-left: 30px;
        background-color: #00000000;
    }

    .back {
        background-image: url('../../img/action/action_back.svg');
        width: 28px;
        height: 28px;
        background-color: #00000000;
    }
}