<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274121826895-fhn2o5rb43eg15r7ubmoklcv9o8qdb1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274121826895-fhn2o5rb43eg15r7ubmoklcv9o8qdb1f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>274121826895-4frl469l5fkvjg1ogtae4s32a2g9rsmd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArI4O9RKJYPmA9kzQYaqjqWlazprUiiQk</string>
	<key>GCM_SENDER_ID</key>
	<string>274121826895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.undefined.mate</string>
	<key>PROJECT_ID</key>
	<string>mate-914f3</string>
	<key>STORAGE_BUCKET</key>
	<string>mate-914f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274121826895:ios:e688591cc8dbdd0021803a</string>
	<key>DATABASE_URL</key>
	<string>https://mate-914f3.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-5428356257006325~7050897730</string>
</dict>
</plist>